<div data-id="setup">
    <div class="step1">
        <h1>Write your super-secret passphrase...</h1>
        <p>Some tips: 
            <ul>
                <li>don't use your name, address, birthdate or similar</li>
                <li>passphrases containing special chars such as symbols, punctuation marks and numbers are better!</li>
                <li>don't share with anybody (even with your parents or partner :-) ), don't write anywhere! </li>
                <li>your passphrase won't be stored by us or by your device in any case... so be sure to keep it in mind (or your irremediably lose the content of your vault!)</li>
            </ul>
        </p>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Passphrase</label>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input data-id="passphrase" type="password" class="form-control" placeholder="Type here your super-secret passphrase">
                        <span data-id="passphrase-strength" class="input-group-addon">...</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div data-id="weak_passphrase_alert" class="alert alert-danger" style="display: none;">
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    <strong><%= t(:weak_passphrase_alert).html_safe %></strong>
                </div>
                <label class="col-lg-2  control-label">retype</label>
                <div class="col-lg-4">
                    <input data-id="retype-passphrase" type="password" class="form-control" placeholder="Retype here to check if they">
                </div>
                <div class="col-lg-2">
                    <button data-id="ok-passphrase" class="btn btn-primary" type="button">Ok, generate my vault!</button>
                </div>
            </div>            
        </div>

    </div>
    <div class="step2" style="display:none;">
        <h1>Creating your vault...</h1>
        <p>Just wait few seconds (depending on your device it could be a little bit longer)!</p>
        <ul>
            <li data-id="step2_keypair" style="visibility: hidden;">creating your keypair</li>
            <li data-id="step2_upload" style="visibility: hidden;">uploading your profile</li>
        </ul>

        <div data-id="step2_done" style="visibility: hidden;">
            <h3>Great, your setup is complete now!</h3>
            <p>Click <a>here</a> to go to your vault</p>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready( function() { 
        setup("[data-id='setup']");
    });
</script>