<div id="setup">
    <div class="page-header">
        <h1>Write your super-secret passphrase</h1>
        <p>Tips: don't use your names, addresses, birthdates or similar... words mixing special chars, numbers are better!</p>
    </div>
    <div class="input-append">
        <input type="password" placeholder="Type a passphrase">
        <div class="btn progress">
            <div class="status"></div>
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready( function() { 
        setup("#setup");
    });
</script>