<h1>Frequently Asked Questions</h1>

<ul class="list-group">

    <li class="list-group-item">
        <h2>Is it safe to use Facebook to signup?</h2>
        <p>Facebook is used to create your profile on Foolbits.com or to access the service (it's an easy replacement for username/password). <strong>Then your vault is encrypted by your passphrase which is the real keystone and it is never stored, transmitted or shared</strong>. Anyway if you're not happy to signup with Facebook, please read below!</p>
    </li>

    <li class="list-group-item">
        <h2>Will you provide other methods to signup the service?</h2>
        <p>Yes, a lot of people asked for it... I hope in the next few weeks to have the time to implement other methods (ie classic email/password signup)</p>
    </li>

    <li class="list-group-item">
        <h2>If I forget my passphrase, is the vault lost?</h2>
        <p>Yes, it is not possible to unlock your vault if you lose your passphrase. So, be sure to keep it in mind!</p>
    </li>

    <li class="list-group-item">
        <h2>Why did you create Foolbits?</h2>
        <p>A couple of days before leaving for the holidays I decided to leave my laptop at home. But I had the problem to bring all my access codes on my tablet (my bank uses a quite complex system of codes). So I came up with the idea of ​​creating Foolbits.</p>
    </li>

</ul>